.subtitle {
    text-align: center;
}

.map {
    width: 480px;
    height: 350px;
}

.sub-container {
    padding: 2.2rem 0 2rem 0;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #879184;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    height: 20rem;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.contact-item .icons {
    font-size: 1.8rem;
    margin-right: 0.5rem;
    color: white;
    vertical-align: middle;
}

.contact-item .icon-text {
    font-size: 1.1rem;
    color: white;
    line-height: 1;
}

.icon-image {
    max-width: 3.5rem;
    margin: 0.4rem;
}

.icon-container {
    max-width: 10rem;
}

.container-icons {
    padding: 1rem 0 0 0 ;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .sub-container {
        padding: 1rem 0 3rem 0;
        flex-direction: column;
    }

    .map {
        width: 300px;
        height: 200px;
        margin-bottom: 2rem;
    }
    .contact-info {
        margin: 1rem 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        height: 10rem;
        text-align: start;
    }
    .contact-item {
        margin: 0.5rem;
    }

    .container-icons {
        margin: 0 1rem 0 0;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 400px) and (max-width: 767px) {
    .map {
        width: 330px;
        height: 250px;
    }
}

@media (min-width: 768px) and (max-width: 989px) {
    .map {
        width: 300px;
        height: 250px;
    }

    .contact-info {
        height: 18rem;
    }
    .icon-image {
        max-width: 2.5rem;
    }
    .contact-item {
        margin: 0rem;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .map {
        width: 360px;
        height: 280px;
    }

    .contact-info {
        height: 20rem;
    }
    .icon-image {
        max-width: 2.5rem;
    }
    .contact-item {
        margin: 0;
    }
}