<div class="container">
    <div class="sub-container">
      <!-- Columna del mapa -->
      <div class="col-md-7">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3406.1747515922802!2d-64.24333782498445!3d-31.381744694576483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329d2cf8947993%3A0xa13d895dbb562c9!2sJazuSoft!5e0!3m2!1ses!2sar!4v1698534168780!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  
      <!-- Columna de información de contacto -->
      <div class="col-md-5">
        <div class="contact-info">
          <div class="contact-item">
            <span class="material-symbols-outlined icons">call</span>
            Phone +54 9 351 661-4003
          </div>
          <div class="contact-item">
            <span class="material-symbols-outlined icons">email</span>
            hello@jazusoft.com
          </div>
          <div class="contact-item">
            <span class="material-symbols-outlined icons">location_on</span>
            Avenida Menendez Pidal 4055, Córdoba, Argentina
          </div>
        </div>
      </div>
    </div>
  </div>