<div>
    <div class="sub-container">
      <!-- Columna del mapa -->
      <div class="col-md-6">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.771858746051!2d-64.21947942498255!3d-31.420411196444896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2756e9f641b%3A0x974828268b58ac6f!2sHip%C3%B3lito%20Vieytes%201050%2C%20X5010AOJ%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1698700585550!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  
      <!-- Columna de información de contacto -->
      <div class="col-md-6">
        <div class="contact-info">
          <div class="contact-item">
            <span class="material-symbols-outlined icons">call</span>
            <span class="icon-text">+54 351 28 69 25</span>
          </div>
          <div class="contact-item">
            <span class="material-symbols-outlined icons">email</span>
            <span class="icon-text">oasisparquescba@gmail.com</span>
          </div>
          <div class="contact-item">
            <span class="material-symbols-outlined icons">location_on</span>
            <span class="icon-text">Hipólito Vieytes 1050, Córdoba, Argentina</span>
          </div>
          <div class="container-icons">
            <a href="https://www.facebook.com/OASISCBA?mibextid=ZbWKwL" target="_blank" class="icon-container">
              <img class="icon-image" src="../../assets/icons/facebook.png" alt="foto-face">
            </a>
            <a href="https://www.instagram.com/oasis.viverourbano/?igshid=OGQ5ZDc2ODk2ZA" target="_blank" class="icon-container">
              <img class="icon-image" src="../../assets/icons/instagram.png" alt="foto-instagram">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>