<section class="container">
    <h2><span>Vive la</span> experiencia </h2>

    <div class="galeria">
        <div class="imagen1">
            <img src="../../assets/images/fotos/IMG-20231030-WA0089.jpg" alt="foto01">
        </div>
        <div class="imagen2">
            <img src="../../assets/images/fotos/IMG-20231030-WA0082.jpg" alt="foto02">
        </div>
        <div class="imagen3">
            <img src="../../assets/images/fotos/IMG-20231030-WA0075.jpg" alt="foto03">
        </div>
        <div class="imagen4">
            <img src="../../assets/images/fotos/IMG-20231030-WA0084.jpg" alt="foto04">
        </div>
        <div class="imagen5">
            <img src="../../assets/images/fotos/IMG-20231030-WA0073.jpg" alt="foto05">
        </div>
        <div class="imagen6">
            <img src="../../assets/images/fotos/IMG-20231030-WA0068.jpg" alt="foto06">
        </div>
        <div class="imagen7">
            <img src="../../assets/images/fotos/IMG-20231030-WA0069.jpg" alt="foto07">
        </div>
        <div class="imagen8">
            <img src="../../assets/images/fotos/IMG-20231030-WA0088.jpg" alt="foto08">
        </div>
        <div class="imagen9">
            <img src="../../assets/images/fotos/IMG-20231030-WA0089.jpg" alt="foto09">
        </div>
        <div class="imagen10">
            <img src="../../assets/images/fotos/IMG-20231030-WA0090.jpg" alt="foto10">
        </div>

    </div>
</section>